/******************************************** GLOBAL ********************************************/

*{
    max-width: 100%;
}

html{
    min-width: 320px;
    scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.btn{
    font-weight: 600;
    padding: 5px 20px;
}

.anchor{
    display: block;
    visibility: hidden;
    height: 63px;
    margin-top: -63px;
}

/******************************************** NAVBAR ********************************************/

.navbar{
    padding: 9px 1rem 9px 1rem;
    background-color: rgba(22, 21, 30, 1);
    box-shadow: 0 -14px 17px 17px rgba(5, 5, 5, 0.945);
}

.navbar-brand, .navbar-nav{
    font-family: 'Open Sans', sans-serif;
    padding: 0px 0px;
}

.navbar-nav{
    font-size: 20px;
    font-weight: 300;
}

.navbar-brand{
    font-size: 35px;
    font-weight: 600;
    line-height: 40px;
}

.nav-link{
    transition: all .2s;
}

@media (min-width: 576px) {
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .navbar{
        padding-left: 1.5rem;
    }
    .navbar-brand{
        font-size: 30px;
    }
}

/******************************************** PART 1 ********************************************/

.part1{
    height: 100vh;
    background-image: url('Images/presentation.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 151vh;
    background-position: center top;
    padding: 33vh 20px;
    text-align: center;
    color: white;
    margin: 50px 0 0 0;
}

h1.part1_title{
    font-size: 110px;
    font-weight: 500;
}

h2.part1_title{
    font-size: 25px;
    font-weight: 300;
}

@media (min-width: 576px){
    .part1{
        padding: 33vh 50px;
        margin: 0;
        background-attachment: fixed;
        background-size: cover;
    }

    h1.part1_title{
        font-size: 150px;
        font-weight: 500;
    }
    
    h2.part1_title{
        font-size: 45px;
        font-weight: 300;
    }
}

/******************************************** PART 2 ********************************************/

.part2{
    background-image: url('Images/white.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px 10px 40px;
}

.part2_b{
    display: none;
}

.part2_text{
    text-align: center;
}

.part2_text_r, .part2_text_l{
    max-height: 450px;
}

h2.part2_text_content{
    font-size: 40px;
}

p.part2_text_content{
    font-size: 16px;
}

.part2_image{
    margin-top: 25px;
    min-width: 275px;
}

@media (min-width: 576px){
    .part2{
        padding: 60px 10px;
    }
    .part2_text_r{
        text-align: right;
        padding-right: 0;
    }
    .part2_text_l{
        text-align: left;
        padding-left: 0;
    }
    .part2_b{
        display: inline;
    }
    .part2_a{
        display: none;
    }
    .part2_image{
        margin-top: 0px;
    }
    h2.part2_text_content{
        font-size: 35px;
        margin-bottom: 4px;
    }
    p.part2_text_content{
        margin-bottom: 8px;
    }
}

@media (min-width:768px){
    h2.part2_text_content{
        font-size: 40px;
        margin-bottom: 8px;
    }    
    p.part2_text_content{
        margin-bottom: 16px;
    }
}

@media (min-width: 992px){
    .part2{
        padding: 60px 40px;
    }
    h2.part2_text_content{
        font-size: 50px;
    }
    p.part2_text_content{
        font-size: 18px;
    }
}

@media (min-width: 1200px){
    .part2{
        padding: 60px 100px;
    }
    h2.part2_text_content{
        font-size: 60px;
    }
    .part2_image{
        padding: 30px;
    }
}

/******************************************** PART 3 ********************************************/


.part3{
    background-image: url(Images/white.jpg);
    padding: 25px 35px 40px;
}

h2.part3_title{
    font-size: 40px;
    margin-bottom: 12px;
}

p.part3_title{
    font-size: 16px;
    margin-bottom: 20px;
}

.part3_teammember-r, .part3_teammember-l{
    transition: all .2s;
    background-color: #ffad73;
    padding-bottom: 12px;
}

.part3_teammember-r:hover, .part3_teammember-l:hover{
    transition: all .2s;
    box-shadow: 0 5px 27px -10px rgba(5, 5, 5, 0.945);
    transform: translateY(-2px);
}

.part3_image{
    margin: 0 0 16px;
    width: 100%;
}

h3.part3_content{
    font-size: 25px;
}

p.part3_content{
    margin-bottom: 6px;
    padding: 0 15px 0;
}

a.part3_content{
    font-size: 25px; 
    color: rgba(65, 63, 83, 0.65);
    margin: 0 4px;
}

a.part3_content:hover{
    color: rgba(51, 49, 65, 0.8);
}

@media (min-width: 576px){
    .part3_teammember-l{
        margin-bottom: 0!important;
        margin-right: 8px;
        max-width: 450px;
    }
    .part3_teammember-r{
        margin-bottom: 0!important;
        margin-left: 8px;
        max-width: 450px;
    }
}

@media (min-width: 992px){
    .part3{
        padding: 35px 10px 50px;
    }
    h2.part3_title{
        font-size: 50px;
    }
    p.part3_title{
        font-size: 18px;
        margin-bottom: 35px;
    }
}

@media (min-width: 1200px){
    .part3{
        padding: 35px 0px 75px;
    }
    p.part3_title{
        margin-bottom: 50px;
    }
    .part3_teammember-l{
        margin-right: 16px;
        margin-left: 120px;
    }
    .part3_teammember-r{
        margin-left: 16px;        
        margin-right: 120px;
    }
}

/******************************************** PART 4 ********************************************/

.part4{
    background-image: url('Images/presentation.jpg');
    background-repeat: no-repeat;
    padding: 40px 10px 30px;
    color: white;
}

h3.part4_title{
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 10px;
    line-height: 27px;
    position: relative;
    left: 2px;
    margin-bottom: 20px;
}

h2.part4_title{
    font-size: 40px;
    margin-bottom: 18px;
}

.contact_box{
    background-color: rgba(211, 211, 211, 0.2);
    padding: 20px 0 5px;
    margin: 0 7vw 20px;
}

.part4_icon{
    margin-bottom: 5px;
}

p.part4_title{
    font-size: 16px;
    margin-bottom: 15px;
}

@media(min-width:576px){
    .contact_box{
        margin: 0 25vw 40px;
    }
}

@media (min-width:768px){
    .part4{
        padding: 80px 0 70px;
    }
    .contact_box{
        margin: 0 10vw 40px;
    }
    h3.part4_title{
        font-size: 25px;
        margin-bottom: 35px;
    }
    p.part4_title{
        font-size: 16px;
    }
}

@media (min-width: 1200px){
    .part4{
        background-size: cover;
        padding: 110px 0px 80px;
    }
    h3.part4_title{
        font-size: 30px;
        margin-bottom: 70px;
    }
    h2.part4_title{
        font-size: 50px;
        margin-bottom: 35px;
    }
    .contact_box{
        padding: 40px 0 25px;
        margin: 0 20vw 50px;
    }
}

/******************************************** FOOTER ********************************************/

.part5{
    background-color: rgba(18, 17, 24, 1);
    color: rgba(255, 255, 255, 0.6);
    font-size: 20px;
}

a.part5_content{
    color:  rgba(255, 255, 255, 1);
    font-weight: 500;
}